@import "../variables.scss";

.burger {
  width: 1.25rem;
  position: relative;
  cursor: pointer;
  z-index: 3000;

  span {
    display: block;
    border-radius: 10px;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0rem;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 0.4rem;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: 0.8rem;
    transform-origin: left center;
  }
}

.burger.animate span:nth-child(1) {
  transform: rotate(45deg);
  top: -0.25rem;
  left: 0.2rem;
}

.burger.animate span:nth-child(2) {
  opacity: 0;
}

.burger.animate span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0.6rem;
  left: 0.2rem;
}
