@import "./scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: $background-gradient;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

h1 {
  font-size: $mobile-tablet-h1;
  @media (min-width: 992px) {
    font-size: $desktop-h1;
  }
}

h2 {
  font-size: $mobile-tablet-h1;
  @media (min-width: 992px) {
    font-size: $desktop-h2;
  }
}

h3 {
  font-size: $all-h3;
}

p {
  font-size: $mobile-tablet-small;
  @media (min-width: 992px) {
    font-size: $desktop-small;
  }
}


