.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 700px;
      }
      @media (min-width: 992px) {
        width: 1280px;
      }
}

.aboutInfo-2 {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 300px;
    margin: 0 auto;
    height: 90vh; 
   
    @media (min-width: 768px) {
      width: 700px;
    }
    @media (min-width: 992px) {
      width: 1280px;
    }
  }
  