@import "./variables.scss";

.booking {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "movie" "quantity"
    "salon" "seats" "sum" "cta";

  .movie {
    grid-area: movie;

    h1 {
      font-size: $desktop-big;
    }

    p {
      color: $gray-medium;
      padding: 0px;
      margin: 0px;
    }

    img {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .quantity {
    grid-area: quantity;
  }

  .salon {
    grid-area: salon;

    .showcase {
      display: flex;
      justify-content: space-around;

      div {
        display: flex;
        align-items: center;
        p:first-child {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          padding-right: 3px;
        }

        p:last-child {
          margin-left: 5px;
        }

        .occupied {
          background-color: $black;
        }

        .available {
          background-color: $gray-medium;
        }

        .selected {
          background-color: $yellow-light;
        }
      }
    }
  }

  .seats {
    grid-area: seats;
    display: flex;
    flex-wrap: wrap;

    .selectedSeats {
      display: flex;
      margin-right: 10px;
    }
  }

  .sum {
    grid-area: sum;
  }

  .cta {
    grid-area: cta;
  }

  .movie,
  .quantity,
  .seats,
  .sum,
  .cta {
    margin: 1.5rem 0rem;
  }

  .salon {
    margin: 2rem 0rem;
  }

  button {
    padding: 10px 20px;
    background-color: $yellow;
    border: none;
    border-radius: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .booking {
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "movie salon"
      "quantity salon"
      "seats salon"
      "sum salon"
      "cta salon";
  }

  .movie,
  .quantity,
  .seats,
  .sum,
  .cta {
    margin: 0rem 0rem;
  }
}

@media (min-width: 992px) {
  .booking {
    grid-template-columns: 30% 70%;

    .salon {
      .showcase {
        justify-content: center;
        div {
          p:last-child {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
