@import "./variables.scss";

.hero {
    // max-height: 30vh;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/hero-images/the-departed.jpg);

    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // width: 100%;
}

.carouselWrapper {
    width: 100%;
}

.carouselItem {

}

.carouselImage {
    max-height: 70vh;
    min-width: 100%;
    object-fit: cover;
}

// .heroContent {
//     padding: 1rem;
// }

// .showsAndTickets {
//     margin-top: 1rem;
// }