@import "./variables.scss";

.movieCard {
    // border: 1px green solid;
    margin-bottom: 4rem;
    max-width: 250px;
    padding: 0rem;
}

.movieTitle {
    color: $white;
    font-size: $mobile-tablet-h2;
    font-weight: bold;
    
}

.movieInfo {
    color: $white;
    font-size: $mobile-tablet-big;
}

.imageContainer {
    max-width: 90%;
}

img {
    max-width: 100%;
}

@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }