@import "./variables.scss";

.movieCard {
    margin: 1rem 0 2rem 0; 
    max-width: 255px;
    cursor: pointer;
}

.movieTitle {
    color: $white;
    font-size: $mobile-tablet-h2;
    font-weight: bold;
}

.movieInfo {
    color: $white;
    font-size: $mobile-tablet-big;
}

.imageContainer {
    max-width: 100%;
}

.imageContainer img {
    max-width: 100%;
    height: 350px;
}