@import "./variables.scss";

.movieCard {
    cursor: pointer;
    filter: brightness(85%);
    transition: 0.3s;
    margin: 1rem 0.6rem;
    width: 140px;
    height: auto;
}

.movieCard:hover {
    filter: brightness(100%);
}

.movieTitle {
    color: $gray-light;
    font-size: $mobile-tablet-small;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.movieInfo {
    color: $gray-medium;
    font-size: $mobile-tablet-small;
    margin: 0rem 1rem 0rem 0rem;
}


.imageContainer {
    width: auto;

    img {
    width: 100%;
    height: 230px;
    }
}

@media screen and (min-width: 545px) {
    .movieCard {
        margin: 1rem 0.8rem;
        width: 160px; 
    }
    .movieTitle {
        font-size: 1rem;  
    }
    .movieInfo {
        font-size: 1rem;
    }
    .imageContainer img {
        height: 240;
    }
    
}

@media screen and (min-width: 1200px) {
    .movieCard {
        margin: 1.5rem 0.8rem;
        width: 200px; 
    }
    .movieTitle {
        font-size: 1.2rem;  
    }
    .movieInfo {
        font-size: 1.1rem;
    }
    .imageContainer img {
        height: 300px;
    }
}
