@import "./variables.scss";

.moviesPage {
    background-color: $black;
    max-width: 100%;
}

.movieCards {
    display: flex;
    flex-wrap: wrap;
    // margin: auto;
    justify-content: center;
    // margin-bottom: 1rem;
    // border: 1px green solid;
}



