@import "./variables.scss";

.movieDetails {
  width: 100%;
  height: 100%;

  & > * {
    padding-bottom: 1.5rem;
  }

  p {
    font-size: $mobile-tablet-small;
    font-weight: 200;
    @media (min-width: 768px) {
      font-size: $mobile-tablet-big;
    }
  }

  h1 {
    font-size: $mobile-tablet-h2;
    @media (min-width: 768px) {
      font-size: $mobile-tablet-h1;
    }
  }

  .cover {
    img {
      width: 100%;
      height: 350px;
      object-fit: fill;
      @media (min-width: 768px) {
        height: 700px;
      }
    }
  }

 /*  .overview {
    span {
      color: $gray-light;
    }
  } */

  .details {
    & > * {
      padding-bottom: 0.5rem;
      @media (min-width: 768px) {
        padding-bottom: 1rem;
      }
    }

    span {
      font-weight: 500;
    }
  }
}

.showDetails {
  width: 100%;
  height: 100%;
  border-bottom: 0.2px solid $white;
  padding: 0.8rem 0rem;

  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0rem;
    margin-bottom: 1px solid;

    @media (min-width: 768px) {
      padding: 1.3rem 0rem;
    }
  }

  h2 {
    font-size: $mobile-tablet-small;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: $mobile-tablet-big;
    }
  }

  p {
    font-size: $mobile-tablet-small;
    font-weight: 200;
    @media (min-width: 768px) {
      font-size: $mobile-tablet-big;
    }
  }

  button {
    background-color: $yellow;
    width: 100px;
    padding: 5px;
    background: $yellow;
    border: none;
    border-radius: 10px;
    font-size: $mobile-tablet-small;
    @media (min-width: 768px) {
      padding: 10px;
      width: 120px;
    }
  }


}
