@import "./variables.scss";

.bookings {
    @media #{$md} {
        margin: 0 auto;
        max-width: 500px;
    }
}
.currentBookings {
    margin-bottom: 30px;
}

.bookings {
    h2 {
        font-size: $mobile-tablet-h2;
        text-align: center;

        @media #{$md} {
            font-size: $desktop-h2;
        }
    }

    .bookingContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border-right: 2px solid $white;

        .bookingDescription {
            h3 {
                font-size: $mobile-h3;
                display: inline;

                @media #{$md} {
                    font-size: $all-h3;
                }
            }
            .removeBtn {
                margin-right: 10px;
                float: right;
                .fa-times {
                    height: 20px;
                    color: #ff6d6d;
                }
                svg {
                    cursor: pointer;
                }
            }
            p {
                margin: 0;
            }
            .moreDetails {
                font-size: $mobile-tablet-small;
                cursor: pointer;

                @media #{$md} {
                    font-size: $desktop-small;
                }
            }
            .fa-sort-down,
            .fa-sort-up {
                height: 18px;
            }
        }

        .ticketDetailsBox {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 5px;
            .ticketType {
                font-size: $mobile-tablet-small;
                display: block;

                @media #{$md} {
                    font-size: $desktop-small;
                }
            }
            p {
                margin: 0;
            }
        }
    }

    .noBookings {
        p {
            text-align: center;
        }
    }
}
