@import "./variables.scss";

.profilePage{
    display: flex;
    flex-direction: column;

    h2, h3, h4{
        text-align: center;
    }

    form{
        display: block;
        margin: 0 auto;
        width: 60%;
        max-width: 500px;
    }

    label, input{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    input{
        height: 34px;
        padding-left: 6px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    #editPassword{
        margin-bottom: 0;
    }
}