@import "./variables.scss";

.recommendedMovies {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.item {
    color: black;
    background-color: aliceblue;
    // border: 1rem solid black;
    // padding: 1rem;
    margin: 0rem 0rem;
}