@import "./variables.scss";

.recommendedMovies {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.recommendedMovieCard {
    height: 100%;
}

.recommendedMovieCardImage {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: 0.5s;
}

.recommendedMovieCardImage:hover {
    filter: brightness(100%);
}
.carousel {
    z-index: -3;
}