@import "./variables.scss";




.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        .seat {
            cursor: pointer;
            margin: 0 10px;
        }

        svg {
            height: 40px;
            width: 40px;
        }
        .default {
            .cls-1 {
            fill: $gray-medium;                
            }
        }
        .taken {
            .cls-1 {
            fill: $black;
            }
        }
        .selected {
            .cls-1 {
            fill: $yellow-light;
            }
        }
        
        /*
        .seat {
            background-color: $gray-medium; 
            margin: 5px;
            width: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 12px;

            &.taken {
                background-color: $black;
            }

            &.selected {
                background-color: $yellow-light;
                color: $black;
            }
        }
        */
    }
}