@import "./variables.scss";

.ticketsCounterWrapper {
  .counter {
    margin-bottom: 1rem;
  }
  /*   border-bottom: 1px solid $gray-medium;
 */
  p {
    margin: 0rem;
  }

  span {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
  }

  span:nth-child(odd) {
    background: $gray-medium;
    cursor: pointer;
  }
}

.ticketSum {
  .quantity {
    display: flex;
    p:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 0rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
